@{
    Layout = "_Layout";
}

<div class="hero-text-box">
    <h1>Music is the answer</h1>
    <a class="btn btn-full" href=" ">Make your own playlist</a>
    <a class="btn btn-ghost" href=" ">Show me more</a>
</div>