@model MusicWorld.Models.LogInViewModel
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@{
    Layout = "_Layout";
}

<section class="section-form">
    
        <h2 class="no-bootstrap">Login</h2>
    
    <div class="row ">
        <form asp-action="Login" asp-controller="Account" class="contact-form">
            <div asp-validation-summary="All" class="input-validation-error"></div>
            <div class="row">   
                <div class="latime">
                    <label for="UserName">UserName</label>
                </div>
                <div class="col span-2-of-3">

                    <input type="text" name="UserName" id="UserName" placeholder="Type your User Name">

                </div>
            </div>
            <div class="row">
                <div class="latime">
                    <label for="Password">Password</label>
                </div>
                <div class="col span-2-of-3">

                    <input type="password" name="Password" id="Password" placeholder="Type your password">

                </div>
            </div>

            <div class="row">
                <div class="latime">
                    <label for="RememberMe">RememberMe</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="checkbox" asp-for="RememberMe" />

                </div>

            </div>

            <div class="row">
                <div class="latime">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Login !">

                </div>
            </div>

        </form>
    </div>


</section>