@inject MusicWorld.Models.FormattingService Format
@model MusicWorld.Models.Post


<article class="blog-post">
    <h1>
        @Html.ActionLink(Model.Title, "Post", "Blog",
      new { year = Model.Posted, month = Model.Posted.Month, key = Model.Key },null)
       
    </h1>

    <div class="contents">
        @Model.Body;
    </div>

    <div class="details">
        Posted <span>@Format.AsReadableDate(Model.Posted)</span> by <span>@Model.Author</span>

    </div>
</article>
