@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"

@model MusicWorld.Models.Post
@{
    Layout = "_Layout";
}

<section class="section-form">
    <div class="row">
        <h2>Blog Post</h2>
    </div>
    <div class="row ">
        <form asp-action="Create" asp-controller="Blog" class="contact-form">
            <div asp-validation-summary="All" class="input-validation-error"></div>
            <div class="row">
                <div class="latime">
                    <label for="Title">Title</label>
                </div>
                <div class="col span-2-of-3">
                   
                    <input type="text" name="Title" id="Title" placeholder="Blog post title">

                </div>
            </div>
            <div class="row">
                <div class="latime">
                    <label for="Body">Body</label>
                </div>
                <div class="col span-2-of-3">
                    
                    <textarea name="Body" placeholder="Your Message"></textarea>

                </div>
            </div>

            <div class="row">
                <div class="latime">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="submit" value="Post it !">

                </div>
            </div>

        </form>
    </div>


</section>
