@model IEnumerable<MusicWorld.Models.Post>
@{
    Layout = "_Layout";
}

<div class="blogg-size">

    <h2>Music Blog</h2>

    <p>
        <a href="@Url.Action("Create","Blog")">Drop us a line</a>
    </p>


    <div class="blog-posts">
        @foreach (var post in Model)
        {
          @await Html.PartialAsync("_Post",post)
        }
    </div>

</div>
