@model IEnumerable<MusicWorld.Models.Post>
@{
    Layout = "_Layout";
}

@section header{
    <a href="@Url.Action("Index","Home")">
        <img src="img/logo.png" alt="Music logo" class="logo">
    </a>
    <ul class="main-nav">

        <li><a href="@Url.Action("Create","Blog")" >Create your Blog</a></li>

    </ul>
}


<div class="blogg-size">

    <h2>Music Blog</h2>

    <p>
       Latest music posts :
    </p>


    <div class="blog-posts">
        @foreach (var post in Model)
        {
          @await Html.PartialAsync("_Post",post)
        }
    </div>

</div>
