@{ 
    Layout = "_Layout";
}

<div class="blog-size">
            
 <h2>Music Blog</h2>

 <p>
     Here are the latest posts from some of out music lovers

 </p>
     

<div class="blog-posts">
    TODO: Blog posts will go here
    </div>

</div>
          