@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"

@model MusicWorld.ViewModels.PostViewModel
@{
    Layout = "_Layout";
}


<section class="section-form">

    <h2>Access Denied ! You are not allowed to access this page</h2>

</section>